.settings-container{
    width: 99%;
    height: 90vh;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-container> *{
    margin-bottom: 1.5rem;
}

.settings-profile{
    width: 90%;
    height: 27%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-circle{
    width: 138px;
    height: 138px;
    background-color: bisque;
    margin:0 1rem 0 3rem;
    border-radius: 50%;

}

.personal-info{
    width: 90%;
    height: 27%;
    border: 1px solid red;
    
}

.inputfield{
    width: 100%;
    padding: 0 5px;
}

.inputfield > div{
    width: 100%;
}

.input-box{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.job-portal{
    width: 90%;
    height: 27%;
    border: 1px solid red;

}

