.dashboard-container{
    padding: 2rem;
}
.insight-cards-container{
    display: flex;
    justify-content: space-between;
}

.graph-table{
    height: 401px;
    margin-top: 1.5rem;
    background-color: white;
    border-radius:1rem ;
    display: flex;
    flex-direction: column;
}

.switches{
    display: flex;
    font-size: 12px;
    font-weight: 500;
}

.graph-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}