.job-card-component{
    width: 240px;
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 14px;
}
.logo-date{
    display:flex;
    justify-content: space-between;
}
.logo{
    height: 36px;
    width: 36px;
    background-color: blue;
    border-radius: 50%;
}
.description
{
    color: #8c8c8c;
}

.avatars-count{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Jobs{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.newJob{
    width:288px;
    border: 1px dashed #8c8c8c;
    margin: 0.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}