.jobs-container{
    width: 90%;
}
.jobs-header{
    margin-left: 1rem;
}
.jobs-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort{
    margin-right:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: 500;
}
.sort>*{
    margin-left: 0.7rem;
}
.jobs-nav{
    display: flex;
}
.jobs-nav>*{
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.jobs-nav>*:hover{
    cursor: pointer;
}

.jobs-nav-count{
    color: #38CB89;
    background-color: #d6eee9;
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
}

.job-card-component{
    width: 240px;
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 14px;
}
.logo-date{
    display:flex;
    justify-content: space-between;
}
.logo{
    height: 36px;
    width: 36px;
    background-color: blue;
    border-radius: 50%;
}
.description
{
    color: #8c8c8c;
}

.avatars-count{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Jobs{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.newJob{
    width:288px;
    border: 1px dashed #8c8c8c;
    margin: 0.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.activityFeedLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}